In [1]:
import pathlib
import pickle

import config
import numpy as np

In [2]:
TMP_DIR = pathlib.Path(config.TMP_DIR)

In [63]:
sort_column = "score"
with pathlib.Path(
    TMP_DIR
    / "bireducts_daab_reordered_cols_n_1000_candidate_attrs_30_allowed_randomness_0.1_eval_scope_global.pkl"
).open("rb") as f:
    results = pickle.load(f)
    results = list(results.values())[0]
    results = results.sort_values([sort_column], ascending=False)
rg = results

In [64]:
rg[:15]

,column,score,score2,count,avg,avg2
96,number_of_company_following,0.290486,0.255355,128.0,0.002269,0.001995
74,recruitment_developer_in_role_name,0.223053,0.195182,112.0,0.001992,0.001743
191,country_continent..Other,0.206378,0.180979,96.0,0.002150,0.001885
190,country_continent..EU,0.193057,0.170272,97.0,0.001990,0.001755
120,country_developers_count,0.157565,0.137910,82.0,0.001922,0.001682
218,country_developers_count..NA,0.132166,0.114065,92.0,0.001437,0.001240
81,developer_in_title,0.126952,0.111831,102.0,0.001245,0.001096
474,skill_programming_platforms,0.109566,0.095900,79.0,0.001387,0.001214
36,developer_in_any_job_title,0.097525,0.085955,74.0,0.001318,0.001162
149,role_category_cluster..Other,0.088026,0.076147,67.0,0.001314,0.001137
207,country_cluster..Other,0.086438,0.076542,79.0,0.001094,0.000969
143,recruitment_role_category..PRODUCT,0.082183,0.071040,75.0,0.001096,0.000947
106,offer_in_any_of_jobs_city,0.081664,0.073114,41.0,0.001992,0.001783
105,offer_in_any_of_jobs_country,0.080446,0.071188,49.0,0.001642,0.001453
26,number_of_certifications,0.076435,0.066922,56.0,0.001365,0.001195

In [65]:
r1[:15]

,column,score,score2,count,avg,avg2
96,number_of_company_following,1.951221,1.656831,128.0,0.015244,0.012944
74,recruitment_developer_in_role_name,1.561905,1.292671,112.0,0.013946,0.011542
120,country_developers_count,1.164771,0.928622,82.0,0.014205,0.011325
81,developer_in_title,1.113656,0.929351,102.0,0.010918,0.009111
474,skill_programming_platforms,0.970067,0.820897,79.0,0.012279,0.010391
149,role_category_cluster..Other,0.897053,0.661591,67.0,0.013389,0.009874
295,skill_JavaScript,0.879071,0.677098,62.0,0.014179,0.010921
26,number_of_certifications,0.842253,0.672462,56.0,0.015040,0.012008
36,developer_in_any_job_title,0.790692,0.585148,74.0,0.010685,0.007907
101,offer_common_country_languages,0.782154,0.615079,48.0,0.016295,0.012814
218,country_developers_count..NA,0.768068,0.623053,92.0,0.008349,0.006772
99,offer_in_different_country,0.757518,0.585947,42.0,0.018036,0.013951
190,country_continent..EU,0.708610,0.603233,97.0,0.007305,0.006219
623,skill_CSS,0.686861,0.570168,55.0,0.012488,0.010367
191,country_continent..Other,0.677890,0.569903,96.0,0.007061,0.005936

In [62]:
sort_column = "score"
with pathlib.Path(
    TMP_DIR
    / "bireducts_daab_reordered_cols_n_1000_candidate_attrs_30_allowed_randomness_0.1_eval_scope_local.pkl"
).open("rb") as f:
    results = pickle.load(f)
    results = list(results.values())[0]
    results = results.sort_values([sort_column], ascending=False)
r = results

In [56]:
r1[:10]

,column,score,score2,count,avg,avg2
96,number_of_company_following,1.951221,1.656831,128.0,0.015244,0.012944
74,recruitment_developer_in_role_name,1.561905,1.292671,112.0,0.013946,0.011542
120,country_developers_count,1.164771,0.928622,82.0,0.014205,0.011325
81,developer_in_title,1.113656,0.929351,102.0,0.010918,0.009111
474,skill_programming_platforms,0.970067,0.820897,79.0,0.012279,0.010391
149,role_category_cluster..Other,0.897053,0.661591,67.0,0.013389,0.009874
295,skill_JavaScript,0.879071,0.677098,62.0,0.014179,0.010921
26,number_of_certifications,0.842253,0.672462,56.0,0.015040,0.012008
36,developer_in_any_job_title,0.790692,0.585148,74.0,0.010685,0.007907
101,offer_common_country_languages,0.782154,0.615079,48.0,0.016295,0.012814

In [57]:
r2[:10]

,column,score,score2,count,avg,avg2
96,number_of_company_following,1.951221,1.656831,128.0,0.015244,0.012944
74,recruitment_developer_in_role_name,1.561905,1.292671,112.0,0.013946,0.011542
81,developer_in_title,1.113656,0.929351,102.0,0.010918,0.009111
120,country_developers_count,1.164771,0.928622,82.0,0.014205,0.011325
474,skill_programming_platforms,0.970067,0.820897,79.0,0.012279,0.010391
295,skill_JavaScript,0.879071,0.677098,62.0,0.014179,0.010921
26,number_of_certifications,0.842253,0.672462,56.0,0.015040,0.012008
149,role_category_cluster..Other,0.897053,0.661591,67.0,0.013389,0.009874
218,country_developers_count..NA,0.768068,0.623053,92.0,0.008349,0.006772
101,offer_common_country_languages,0.782154,0.615079,48.0,0.016295,0.012814

In [120]:
sort_column = "avg"
with pathlib.Path(TMP_DIR / "delta_results_local_scope_3.pkl").open("rb") as f:
    results = pickle.load(f)
    results = list(results.values())[0]
    results = results.sort_values([sort_column], ascending=False)

In [98]:
sort_column = "avg"
with pathlib.Path(
    TMP_DIR / "bireducts_reordered_cols_30_10000_eval_scope_local.pkl"
).open("rb") as f:
    results = pickle.load(f)
    results = list(results.values())[0]
    results = results.sort_values([sort_column], ascending=False)

In [30]:
sort_column = "avg2"
with pathlib.Path(
    TMP_DIR
    / "bireducts_reordered_cols_n_10000_candidate_attrs_500_max_attrs_5_eps_0.3_eval_scope_global.pkl"
).open("rb") as f:
    results = pickle.load(f)
    results = list(results.values())[0]
    results = results.sort_values([sort_column], ascending=False)
results

,column,score,score2,count,avg,avg2
191,country_continent..Other,10.416572,9.115744,5455.0,0.001910,0.001671
74,recruitment_developer_in_role_name,13.049172,11.428675,7005.0,0.001863,0.001632
190,country_continent..EU,5.471970,4.790746,2995.0,0.001827,0.001600
120,country_developers_count,2.416936,2.116760,1352.0,0.001788,0.001566
96,number_of_company_following,13.618716,11.923481,8126.0,0.001676,0.001467
...,...,...,...,...,...,...
1471,reordered_skill_Unity,0.000000,0.000000,0.0,0.000000,0.000000
1472,reordered_skill_Dash,0.000000,0.000000,0.0,0.000000,0.000000
1473,reordered_skill_architektura_1,0.000000,0.000000,0.0,0.000000,0.000000
1474,reordered_skill_języki_znaczników,0.000000,0.000000,0.0,0.000000,0.000000
1543,reordered_skill_Adobe_Premiere_Pro,0.000000,0.000000,0.0,0.000000,0.000000

In [3]:
# df[df['count']>10].sort_values(['avg'], ascending=False)[:20]

In [4]:
# df.sort_values(['avg2'], ascending=False)

In [50]:
sort_column = "avg"
with pathlib.Path(
    TMP_DIR / "bireducts_reordered_cols_30_10000_eval_scope_local.pkl"
).open("rb") as f:
    results = pickle.load(f)
    results = list(results.values())[0]
    results = results.sort_values([sort_column], ascending=False)

In [7]:
seq = np.arange(1, len(results) + 1)
tmp = results["column"].str.contains("reordered_")
print(f"mean pos of columns: normal={seq[~tmp].mean()},  reordered={seq[tmp].mean()}")

mean pos of columns: normal=544.4261658031088,  reordered=1000.5738341968912

,column,score,score2,count,avg,avg2
821,reordered_person_number_of_schools_finished_in...,0.025094,0.023171,2.0,0.012547,0.011585
833,reordered_recruitment_is_remote,0.012416,0.011553,1.0,0.012416,0.011553
873,reordered_offer_common_country_languages,0.032005,0.029296,3.0,0.010668,0.009765
17,number_of_projects,0.005594,0.004938,1.0,0.005594,0.004938
827,reordered_education_start_timestamp,0.010941,0.009895,2.0,0.005470,0.004948
...,...,...,...,...,...,...
1335,reordered_skill_Zarządzanie_ryzykiem,0.000000,0.000000,0.0,0.000000,0.000000
1382,reordered_skill_dodatkowe_umiejętności,0.000000,0.000000,0.0,0.000000,0.000000
1336,reordered_skill_Systemy_Zarządzania_Bazami_Dan...,0.000000,0.000000,0.0,0.000000,0.000000
1252,reordered_skill_architektura_procesorów,0.000000,0.000000,0.0,0.000000,0.000000
1543,reordered_skill_Adobe_Premiere_Pro,0.000000,0.000000,0.0,0.000000,0.000000

In [31]:
normal = 'normal = '
reordered = 'reordered = '
sort_column = 'score2'
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_10_10000_eval_scope_local.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_10_10000_eval_scope_global.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_10_10000_draw_objects_mk2_eval_scope_local.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_10_10000_draw_objects_mk2_eval_scope_global.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_20_10000_draw_objects_mk2_eval_scope_local.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_20_10000_draw_objects_mk2_eval_scope_global.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_n_10000_sample_attrs_100_max_attrs_10_eval_scope_local.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_n_10000_sample_attrs_100_max_attrs_10_eval_scope_global.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_n_10000_sample_attrs_100_max_attrs_20_eval_scope_local.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_n_10000_sample_attrs_100_max_attrs_20_eval_scope_global.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_n_10000_sample_attrs_100_max_attrs_10_eval_scope_local.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_n_10000_sample_attrs_100_max_attrs_10_eval_scope_global.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_n_10000_candidate_attrs_200_max_attrs_20_eps_0.3_eval_scope_global.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_n_10000_candidate_attrs_500_max_attrs_5_eps_0.3_eval_scope_local.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_reordered_cols_n_10000_candidate_attrs_500_max_attrs_5_eps_0.3_eval_scope_global.pkl').open('rb') as f:

# with pathlib.Path(TMP_DIR / 'bireducts_redphase_reordered_cols_n_1000_candidate_attrs_50_max_attrs_30_eps_0.0_eval_scope_local.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_redphase_reordered_cols_n_1000_candidate_attrs_50_max_attrs_30_eps_0.0_eval_scope_global.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_redphase_reordered_cols_n_1000_candidate_attrs_50_max_attrs_30_eps_0.2_eval_scope_local.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_redphase_reordered_cols_n_1000_candidate_attrs_50_max_attrs_30_eps_0.2_eval_scope_global.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_redphase_reordered_cols_n_1000_candidate_attrs_100_max_attrs_30_eps_0.2_eval_scope_local.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_redphase_reordered_cols_n_1000_candidate_attrs_100_max_attrs_30_eps_0.2_eval_scope_global.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_redphase_reordered_cols_n_1000_candidate_attrs_100_max_attrs_30_eps_0.4_eval_scope_local.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_redphase_reordered_cols_n_1000_candidate_attrs_100_max_attrs_30_eps_0.4_eval_scope_global.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_daab_reordered_cols_n_1000_candidate_attrs_30_allowed_randomness_0.1_eval_scope_local.pkl').open('rb') as f:
# with pathlib.Path(TMP_DIR / 'bireducts_daab_reordered_cols_n_1000_candidate_attrs_30_allowed_randomness_0.1_eval_scope_global.pkl').open('rb') as f:
    results = pickle.load(f)
    results = list(results.values())[0]
    results = results.sort_values([sort_column], ascending=False)
    results = results[results['count']>0]
    seq = np.arange(1, len(results)+1)
    tmp = results['column'].str.contains('reordered_')
    print(f'mean column rank\n'
          f'{normal:<15}{seq[~tmp].mean()}\n'
          f'{reordered:<15}{seq[tmp].mean()}\n')

mean column rank
normal =       769.9831606217616
reordered =    775.0168393782384

In [17]:
results

,column,score,score2,count,avg,avg2
96,number_of_company_following,120.320616,102.843855,8126.0,0.014807,0.012656
74,recruitment_developer_in_role_name,86.434437,73.534767,7005.0,0.012339,0.010497
191,country_continent..Other,40.465259,34.890297,5455.0,0.007418,0.006396
36,developer_in_any_job_title,25.129688,21.470336,2105.0,0.011938,0.010200
190,country_continent..EU,24.269041,20.876954,2995.0,0.008103,0.006971
...,...,...,...,...,...,...
861,reordered_person_contact_for_business,0.001739,0.001614,1.0,0.001739,0.001614
236,skill_Arduino,0.001654,0.001523,1.0,0.001654,0.001523
361,skill_Smarty,0.001458,0.001294,1.0,0.001458,0.001294
163,recruitment_country_gdp..NA,0.000882,0.000809,1.0,0.000882,0.000809
77,candidate_has_github,0.000693,0.000644,1.0,0.000693,0.000644

In [17]:
import json

with pathlib.Path(
    TMP_DIR
    / "bireducts_reordered_cols_n_10000_candidate_attrs_200_max_attrs_20_eps_0.3.json"
).open("r") as f:
    bireducts = json.load(f)

In [19]:
import pandas as pd

TMP_DIR = pathlib.Path(config.TMP_DIR)
DATA_DIR = pathlib.Path(config.DATA_DIR)

FILEPATH = DATA_DIR / "train_utf_with_reordered_cols.csv"
SEP = ";"

df = pd.read_csv(FILEPATH, sep=SEP)

In [25]:
df.columns[bireducts[15]["attributes"]]

Index(['developer_in_any_job_title', 'offer_in_neighbouring_country',
       'recruitment_role_category..FRONTEND', 'country_continent..Other',
       'en_in_person_country_languages', 'number_of_company_following',
       'number_of_certifications',
       'reordered_person_number_of_jobs_in_last_but_02_10',
       'reordered_jobs_start_timestamp',
       'reordered_offer_in_any_of_jobs_country',
       'reordered_education_end_timestamp', 'reordered_number_of_jobs',
       'reordered_number_of_company_following'],
      dtype='object')