In [5]:
from aim import Distribution, Repo, Run

EXPERIMENT_NAME = "hello"

repo = Repo(".")

Repo.from_path

run = Run(experiment=EXPERIMENT_NAME)
run["hparams"] = {"learning_rate": 0.34}
run.add_tag("haha")

In [6]:
run.close()

In [76]:
import random

import numpy as np
from aim import Distribution, Repo, Run
from aim.storage.context import Context

run = Run(run_hash="5d0bd11f5bff4406afb969e3")
# run.close()

In [82]:
run.close()

In [78]:
q = run.get_metric("x", context=Context({}))

In [13]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    {"col": ["a", "s_a", "b", "s_b", "c", "s_c"], "sco": [1, 1.1, 1.1, 1.1, 1, 0.8]}
)
df

   col  sco
0    a  1.0
1  s_a  1.1
2    b  1.1
3  s_b  1.1
4    c  1.0
5  s_c  0.8

In [18]:
rank_col = "rank"
is_shuffled_col = "is_shuffled"
scores = df.sort_values(["sco"], ascending=False)
ranks = pd.DataFrame(
    {
        rank_col: np.arange(len(scores)) + 1,
        is_shuffled_col: scores["col"].str.contains("s_"),
        "aaa": scores["col"],
    }
)
ranks[rank_col] = ranks[rank_col].groupby(scores["sco"]).transform(np.mean)
ranks

   rank  is_shuffled  aaa
1   2.0         True  s_a
2   2.0        False    b
3   2.0         True  s_b
0   4.5        False    a
4   4.5        False    c
5   6.0         True  s_c

In [19]:
is_shuffled = ranks[is_shuffled_col]
ranks[~is_shuffled], ranks[is_shuffled]

(   rank  is_shuffled aaa
 2   2.0        False   b
 0   4.5        False   a
 4   4.5        False   c,
    rank  is_shuffled  aaa
 1   2.0         True  s_a
 3   2.0         True  s_b
 5   6.0         True  s_c)

In [46]:
scores = df.sort_values(["sco"], ascending=False)
is_shuffled = scores["col"].str.contains("s_").to_numpy()
ranks2 = (
    pd.Series(np.arange(len(scores)) + 1)
    .groupby(scores["sco"].to_numpy())
    .transform(np.mean)
)
ranks2[~is_shuffled], ranks2[is_shuffled]

(1    2.0
 3    4.5
 4    4.5
 dtype: float64,
 0    2.0
 2    2.0
 5    6.0
 dtype: float64)